<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! test
  </h1>
  <div class="container">
      <form [formGroup]="FormGroup">
          <ng-container>
            <div *ngFor="let itemRow of FormGroup.controls.itemRows.controls; let i=index" [formGroup]="itemRow">
              {{itemRow.Name}}
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input matInput type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">
              
                <label class="sr-only" for="inlineFormInputGroup">Email</label>
                  <input matInput type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                &nbsp;&nbsp;&nbsp;<button type="submit" (click)="deleteRow(i)" class="btn btn-primary">delete</button>
            </div>
          </ng-container>
        </form>
        &nbsp;&nbsp;&nbsp;<button type="submit" (click)="addNewRow()" class="btn btn-primary">Add New</button>
  </div>
  </div>